.head-top {
    padding: 14px 11px 0px 13px;
    background-color: #071d33;
    color: #fff;
    margin-bottom: 14px;
}

.hr-col {
    background: #fff;
}

.det-bg-top {
    background: #0f829c;
    padding-top: 5px;
}