.head-top {
    padding: 12px;
    background-color: #071d33;
    color: #fff;
    margin-bottom: 14px;
}

.table {
    width: 99%;
    margin-bottom: 1rem;
    color: #3F4254;
    background-color: transparent;
}

.head-tittle-bar {
    padding-bottom: 10px;
    padding-left: 10px;
    color: #071d33;
    margin-bottom: 11px;
    border-bottom: 1px solid #ccc;
}