.table {
    width: 99%;
    margin-bottom: 1rem;
    color: #3F4254;
    background-color: transparent;
}

.head-tittle-bar {
    padding-left: 10px;
    color: #fff;
    background: #000;
    width: 100%;
}

.open-details {
    padding: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 25px 10px;
    background: #f3fbff;
}